# 空氣污染監測網 網路爬蟲實作練習


* 能夠利用 selenium + BeautifulSoup 撰寫爬蟲，並存放到合適的資料結構

## 作業目標

根據範例 ，完成以下問題：

* ① 取出 台北市士林區 2018/01 – 2018/08 的 SO2 資料
* ② 取出 台北市士林區 2018/01 – 2018/08 的 SO2、CO 資料

In [16]:
from selenium import webdriver
from selenium.webdriver.support.ui import Select
from bs4 import BeautifulSoup
import re

browser = webdriver.Chrome(executable_path='chromedriver')
browser.get("http://taqm.epa.gov.tw/taqm/tw/MonthlyAverage.aspx")

selectSite = Select(browser.find_element_by_id("ctl05_ddlSite"))
selectSite.select_by_value('11')
selectYear = Select(browser.find_element_by_id("ctl05_ddlYear"))
selectYear.select_by_value('2018')

browser.find_element_by_id('ctl05_btnQuery').click()

### ① 取出 台北市士林區 2018/01 – 2018/08 的 SO2 資料

In [91]:
# 取得資料，丟到 BeautifulSoup 解析
import pandas
html_source = browser.page_source

soup = BeautifulSoup(html_source, 'html.parser')
table = soup.find('table', class_='TABLE_G')
x=table.find_all('td')

d=dict()
t=dict()
element=''

for i in range(0,2):
    if x[38*i].text in['SO2','CO']:
        element=x[38*i].text
        for j in range(38*i+2,38*(i+1),3):
            if re.match('2018/0[1-8]',x[j].text):
                t[x[j].text]=x[j+1].text
        d[element]=t
        t={}

pd.DataFrame({'SO2':d['SO2']})

          SO2
2018/01  1.80
2018/02  1.90
2018/03  2.20
2018/04  2.30
2018/05  3.10
2018/06  2.70
2018/07  2.20
2018/08  2.40

### ② 取出 台北市士林區 2018/01 – 2018/08 的 SO2、CO 資料

In [92]:
pd.DataFrame(d)

          SO2    CO
2018/01  1.80  0.34
2018/02  1.90  0.44
2018/03  2.20  0.40
2018/04  2.30  0.38
2018/05  3.10  0.34
2018/06  2.70  0.29
2018/07  2.20  0.21
2018/08  2.40  0.30